#sobreMim{
    background-color: rgb(119, 17, 17);
    text-align: center;
    border: 3px, solid white;
    padding: 12px;
    margin: 15px;
    color: black;
}

#habilidades{
    background-color: aqua;
    text-align: center;
    border: 12px, solid black;
    padding: 1px;
    margin: 7px;
    color: green;

}
#projetos{
    background-color: cornflowerblue;
    text-align: center;
    border: 10px, solid  purple;
    color: brown;
    margin: 9px;
    padding: 12px;
}
#contato{
    background-color: greenyellow;
    text-align: center;
    border:5px, solid royalblue;
    color: cornflowerblue;
    margin: 30px;
    padding: 20px;

}
h1{
    color: darkblue;
}
